$teknoids : rgb(220,40,90);
$code : #fff;


$primary : brighten($teknoids, 20%);
$secondary : rgb(220,230,70);
$tertiary : rgb(40,220,170);
$accent: rgb(40,135,220);

$commodore1 : #F20029;
$commodore2 : #FD7801;
$commodore3 : #F2F540;
$commodore4 : #48cc31;
$commodore5 : #14A3FD;


$dark: rgb(17, 17, 17);
$light: rgb(248, 240, 227);
$dark2: rgb(34, 34, 34);

$lightGrey: rgb(231,231,231);
$mediumGrey: rgb(170,170,170);
$darkGrey: rgb(120,120,120);
$warning: rgb(255,138,10);
$error: rgb( 192,0,0);
$success: rgb(163,205,132);
$info: rgb( 90,190,200);
