@import '../app/teknoids.scss';

.about, .commodore1 {
    border: 0.2rem solid $commodore1;
}

.services, .commodore2{
    border: 0.2rem solid $commodore2;
}

.cloud, .commodore3{
    border: 0.2rem solid $commodore3;
}

.game, .commodore4{
    border: 0.2rem solid $commodore4;
}

.none, .commodore5{
    border: 0.2rem solid $commodore5;
}



.article{
    border: .3rem solid transparent;
    margin: auto;
    width: fit-content;
    
    padding: 1rem;
    .border
    {
        border: .3rem solid $primary;  

    }

    
}