@import '../styles//teknoids.scss';

.logo{
    width: 80%;
}
.teknoids {
    fill: $teknoids;
    display: block;
    margin: auto;
}

.studio {
    fill: $teknoids;
    display: block;
    margin: auto;
    width: 60%;
}